<a href="https://colab.research.google.com/github/AkshayDawkhar/IPL_predictions/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [364]:
import pandas as pd
import numpy as np
import sklearn

In [365]:
data = pd.read_csv("/content/drive/MyDrive/ml/matches.csv")

In [366]:
data.head()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN

In [367]:
data.describe()

                 id       season  dl_applied  win_by_runs  win_by_wickets
count    756.000000   756.000000  756.000000   756.000000      756.000000
mean    1792.178571  2013.444444    0.025132    13.283069        3.350529
std     3464.478148     3.366895    0.156630    23.471144        3.387963
min        1.000000  2008.000000    0.000000     0.000000        0.000000
25%      189.750000  2011.000000    0.000000     0.000000        0.000000
50%      378.500000  2013.000000    0.000000     0.000000        4.000000
75%      567.250000  2016.000000    0.000000    19.000000        6.000000
max    11415.000000  2019.000000    1.000000   146.000000       10.000000

In [368]:
data.isnull().sum()

id                   0
season               0
city                 7
date                 0
team1                0
team2                0
toss_winner          0
toss_decision        0
result               0
dl_applied           0
winner               4
win_by_runs          0
win_by_wickets       0
player_of_match      4
venue                0
umpire1              2
umpire2              2
umpire3            637
dtype: int64

In [369]:
data = data.iloc[:,:-1]
data.dropna(inplace=True)

In [370]:
data["team1"].unique()

array(['Sunrisers Hyderabad', 'Mumbai Indians', 'Gujarat Lions',
       'Rising Pune Supergiant', 'Kolkata Knight Riders',
       'Royal Challengers Bangalore', 'Delhi Daredevils',
       'Kings XI Punjab', 'Chennai Super Kings', 'Rajasthan Royals',
       'Deccan Chargers', 'Kochi Tuskers Kerala', 'Pune Warriors',
       'Rising Pune Supergiants', 'Delhi Capitals'], dtype=object)

In [371]:
#for Delhi Capitals
data['team1']=data['team1'].str.replace('Delhi Daredevils','Delhi Capitals')
data['team2']=data['team2'].str.replace('Delhi Daredevils','Delhi Capitals')
data['winner']=data['winner'].str.replace('Delhi Daredevils','Delhi Capitals')
#for sunrisers Hyderabad
data['team1']=data['team1'].str.replace('Deccan Chargers','Sunrisers Hyderabad')
data['team2']=data['team2'].str.replace('Deccan Chargers','Sunrisers Hyderabad')
data['winner']=data['winner'].str.replace('Deccan Chargers','Sunrisers Hyderabad')

In [372]:
x_name = ["city", "toss_decision", "result", "dl_applied"]
for i in x_name:
  print("------------")
  print(data[i].unique())
  print(data[i].value_counts())

------------
['Hyderabad' 'Pune' 'Rajkot' 'Indore' 'Mumbai' 'Kolkata' 'Bangalore'
 'Delhi' 'Chandigarh' 'Kanpur' 'Jaipur' 'Chennai' 'Cape Town'
 'Port Elizabeth' 'Durban' 'Centurion' 'East London' 'Johannesburg'
 'Kimberley' 'Bloemfontein' 'Ahmedabad' 'Cuttack' 'Nagpur' 'Dharamsala'
 'Kochi' 'Visakhapatnam' 'Raipur' 'Ranchi' 'Abu Dhabi' 'Sharjah' 'Mohali'
 'Bengaluru']
Mumbai            101
Kolkata            77
Delhi              73
Hyderabad          64
Bangalore          63
Chennai            57
Jaipur             47
Chandigarh         46
Pune               38
Durban             15
Bengaluru          13
Centurion          12
Ahmedabad          12
Visakhapatnam      12
Rajkot             10
Mohali             10
Indore              9
Dharamsala          9
Johannesburg        8
Cuttack             7
Ranchi              7
Port Elizabeth      7
Cape Town           7
Abu Dhabi           7
Sharjah             6
Raipur              6
Kochi               5
Kanpur              4
Nagpur              3
Kimberley           3
East London         3
Bloemfontein        2
Name: city, dtype: int64
------------
['field' 'bat']
field    455
bat      288
Name: toss_decision, dtype: int64
------------
['normal' 'tie']
normal    734
tie         9
Name: result, dtype: int64
------------
[0 1]
0    724
1     19
Name: dl_applied, dtype: int64

In [373]:
from sklearn.preprocessing import LabelEncoder
venuelab=LabelEncoder()
venue=data['venue']
venue=venuelab.fit_transform(venue)

In [374]:
data.drop(['win_by_runs','win_by_wickets','id','season','city','venue','date','player_of_match','umpire1','umpire2'], axis=1,inplace= True)

In [375]:
x = data.drop(["winner"], axis=1)
y = data["winner"]

for i in range(len(y)):
  #  print(x.iloc[i,0]==y.iloc[i])
   if x.iloc[i,0]== y.iloc[i]:
      y.iloc[i] = 0
  #  elif x.iloc[i,1]== y.iloc[i]:
   else:
      y.iloc[i] = 1

# x.iloc[1,1] == 'as'
# x.iloc[1,1]
y

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

0      0
1      1
2      1
3      1
5      1
      ..
750    1
751    1
752    1
754    1
755    0
Name: winner, Length: 743, dtype: object

In [376]:
X = pd.get_dummies(x, ["team1","team2", "toss_winner", "toss_decision", "result"], drop_first = True)
X['venue']=venue
X

,dl_applied,team1_Delhi Capitals,team1_Gujarat Lions,team1_Kings XI Punjab,team1_Kochi Tuskers Kerala,team1_Kolkata Knight Riders,team1_Mumbai Indians,team1_Pune Warriors,team1_Rajasthan Royals,team1_Rising Pune Supergiant,...,toss_winner_Mumbai Indians,toss_winner_Pune Warriors,toss_winner_Rajasthan Royals,toss_winner_Rising Pune Supergiant,toss_winner_Rising Pune Supergiants,toss_winner_Royal Challengers Bangalore,toss_winner_Sunrisers Hyderabad,toss_decision_field,result_tie,venue
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,27
1,0,0,0,0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,1,0,20
2,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,30
3,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,12
5,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
750,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,13
751,0,0,0,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,1,0,39
752,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,17
754,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
755,0,0,0,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,28

In [388]:
le = LabelEncoder()
y = le.fit_transform(y)

y

,dl_applied,team1_Delhi Capitals,team1_Gujarat Lions,team1_Kings XI Punjab,team1_Kochi Tuskers Kerala,team1_Kolkata Knight Riders,team1_Mumbai Indians,team1_Pune Warriors,team1_Rajasthan Royals,team1_Rising Pune Supergiant,...,toss_winner_Mumbai Indians,toss_winner_Pune Warriors,toss_winner_Rajasthan Royals,toss_winner_Rising Pune Supergiant,toss_winner_Rising Pune Supergiants,toss_winner_Royal Challengers Bangalore,toss_winner_Sunrisers Hyderabad,toss_decision_field,result_tie,venue
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,27
1,0,0,0,0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,1,0,20
2,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,30
3,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,12
5,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
750,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,13
751,0,0,0,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,1,0,39
752,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,17
754,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
755,0,0,0,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,28

In [378]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, y, train_size = 0.8)

In [379]:
print(X.iloc[3].value_counts())

0     37
1      4
12     1
Name: 3, dtype: int64

In [380]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators=200,min_samples_split=3,
                               max_features = "auto")

In [392]:
model.fit(x_train, y_train)
y_pred = model.predict(x_test)
from sklearn.metrics import accuracy_score
ac = accuracy_score(y_pred, y_test)
ac
# x_test.to_csv('onehotencoding.csv')
# 0	78	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	1	0	0	0	0	0	0	0	0	0	0	,0	,0	,0	,0	,0	,0
# y_pred

0.5234899328859061

In [389]:
a=np.array([[0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,20]])
ass=model.predict(a)
ass
# from sklearn.svm import SVC
# modelSCV= SVC()
# modelSCV.fit(x_train,y_train)
# pr=modelSCV.predict(x_test)
# pr

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  "X does not have valid feature names, but"

array([0])

In [386]:
y_test

array([1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0,
       1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0,
       0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0,
       0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1,
       1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1,
       0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1,
       0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1])

In [391]:
def pr_win(team1,team2,tosw,tosd):
  teamcode={'SRH':1, 'MI':2, 'GL':3, 'RPS':4, 'RCB':5, 'KKR':6, 'DD':7, 'KBKP':8, 'CSK':9, 'RR':10,
       'KTK':11, 'PW':12,'Draw':13,'field':1, 'bat':0}
  print(teamcode[team1],teamcode[team2])
pr_win('SRH','SRH',1,1)

1 1